{% macro render_input(name, placeholder) %}

<div class="control-group">
    <div class="controls">
        <input class="form-control my-3" type="number" name="{{name}}" value="">
    </div>
</div>

{%endmacro%}

{% macro render_field(field) %}

<div class="form-control my-2">
    <div class="controls">
        {{field.label}}
        {{field(**kwargs)|safe}}
    </div>
</div>

{%if field.error%}

<ul>
    {%for error in field.errors%}
    <li style="color: red;">
        {{error}}
    </li>
    {%endfor%}
</ul>

{%endif%}

{%endmacro%}